# vite project exposes env var to client-side resources if starts with VITE_
# https://vite.dev/guide/env-and-mode#env-variables

VITE_AWS_REGION=
VITE_ACCOUNT_ID=
VITE_S3_BUCKET=
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=